* {
  background-color: #2a2a2a;
  color: white;
  font-family: tahoma, sans-serif;
}

main {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

#image {
  margin: 0 -50%;
}

#tribute-info p {
  text-align: left;
  width: 800px;
  font-size: 20px;
}

.chinese-quote {
  font-size: 40px !important;
  font-style: italic;
  width: 1000px !important;
  margin-left: -80px;
}

.quote-caption {
  padding-bottom: 40px;
  margin: -40px;
}
